<div class="container">
    <div [hidden]="bookAdded">
        <h3 style="margin-top: 30px;">Add New Item Here</h3>
         <form (ngSubmit)="onSubmit()">
            <mat-grid-list cols="4" rowHeight="70px">
              <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="example-full-width">
                        <input matInput required [(ngModel)]="newItem.title" id="title" name="title" placeholder="Title">
                    </mat-form-field>
                </mat-grid-tile>
            </mat-grid-list>

            <mat-grid-list cols="4" rowHeight="70px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field>
                            <input matInput required [(ngModel)]="newItem.manufacturer" id="manufacturer" type="text"  name="manufacturer" placeholder="manufacturer">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field>
                            <input matInput required [(ngModel)]="newItem.seller" id="seller" type="text" name="seller" placeholder="seller">
                        </mat-form-field>
                    </mat-grid-tile>
                </mat-grid-list>

                <mat-grid-list cols="4" rowHeight="70px">
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field>
                         <mat-label>Category</mat-label>
                            <mat-select required [(ngModel)]="newItem.category" id="category" name="category">
                                    <mat-option value="Living">Living</mat-option>
                                    <mat-option value="Dinning">Dinning</mat-option>
                                    <mat-option value="Home Decore">Home Decore</mat-option>
                                    <mat-option value="Mattress">Mattress</mat-option>
                                    <mat-option value="Study &amp; Office">Study &amp; Office</mat-option>
                            </mat-select> 
                        </mat-form-field>  
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field>
                             <mat-label>Item Made</mat-label>
                                <mat-select matNativeControl required [(ngModel)]="newItem.made" id="made" name="made">
                                        <mat-option value="wood">wood</mat-option>
                                        <mat-option value="Kushan">Kushan</mat-option>
                                </mat-select> 
                            </mat-form-field>  
                        </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field>
                                    <input matInput id="shippingWeight" type="number" [(ngModel)]="newItem.shippingWeight" name="shippingWeight" step="0.1" placeholder="Shipping Weight">
                            </mat-form-field>&nbsp;Kg&nbsp;
                        </mat-grid-tile>        
                </mat-grid-list>
                <mat-grid-list cols="4" rowHeight="70px">
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field>
                               <input matInput id="listPrice" type="number" [(ngModel)]="newItem.listPrice" name="listPrice" step="0.01" placeholder="List Price (INR)">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field>
                               <input matInput id="sellingPrice" type="number" [(ngModel)]="newItem.sellingPrice" name="sellingPrice" step="0.01" placeholder="Selling Price (INR)">
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <mat-grid-list cols="4" rowHeight="70px">
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                            <mat-form-field>
                                    <input matInput id="inStockNumber" type="number" [(ngModel)]="newItem.inStockNumber" name="inStockNumber" step="0.01" placeholder="Stock in Number">
                            </mat-form-field>
                        </mat-grid-tile>
                        <mat-grid-tile [colspan]="1" [rowspan]="1">
                                &nbsp;
                                <mat-slide-toggle [color]="color" [checked]="checked" [disabled]="disabled" [(ngModel)]="newItem.active" name="active">Active</mat-slide-toggle>
                        </mat-grid-tile>
                    </mat-grid-list>
                    
                    <mat-grid-list cols="4" rowHeight="70px">
                            <mat-grid-tile [colspan]="1" [rowspan]="1">
                                    <mat-form-field >
                                            <textarea matInput id="description" [(ngModel)]="newItem.description" name="description" placeholder="Description" required></textarea>
                                    </mat-form-field>
                            </mat-grid-tile>
                         </mat-grid-list>
                         <span>
                           Image&nbsp;
                           <input id="tile" type="file" id="ItemImage" name="ItemImage" (change)="uploadImageService.fileChangeEvent($event)">
                        </span>
                           <br><br>
                    <mat-grid-list cols="20" rowHeight="70px">
                            <mat-grid-tile [colspan]="3" [rowspan]="1">
                                <button color="primary" mat-raised-button type="submit">Add</button>
                            </mat-grid-tile>
                            <mat-grid-tile [colspan]="2" [rowspan]="1">
                                <a color="warn" mat-raised-button routerLink="/">Cancel</a>
                             </mat-grid-tile>
                    </mat-grid-list>

        </form>
    </div>
</div>
